<h2>Products</h2>

<div *ngFor="let product of products; index as productId">

  <h3>
    <a [title]="product.name + ' details'" [routerLink]="['/products', productId]">
      {{ product.name }}
    </a>
  </h3>

  <h3>
    <a [title]="product.name + ' details'">
      {{ product.name }}
      <br>
      <p class = "rating"> <i>Rating:</i> {{product.rating}}</p>
    </a>
  </h3>
<img src = {{product.image}} width = "200px">
   <p *ngIf="product.description">
  <b> Description: </b> {{ product.description }}
  </p>
  <p><a href = {{product.ref}} class = "aRef">More infromation</a></p>

  <a href="https://telegram.me/share/url?url={{ product.ref }}" data-text="Take a look at this new item! You can read more information there!:" class = "btn">Share</a>
    <hr id = "line">

 <button (click)="share()">
  Share
</button>

<app-product-alerts
  [product]="product" 
  (notify)="onNotify()">
</app-product-alerts>
  <p *ngIf="product.price > 700">
  
</p>

</div>